<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>iframe widget test</title>
  <script src="/jquery.js"></script>
  <script src="/underscore.js"></script>
  <script src="/app.js"></script>
  <style>
    body {
      font-size: 0.75em;
    }
    .container {
      float: left;
      margin: 20px;
    }
    iframe {
      width: 300px;
      height: 400px;
      float: left;
      clear: both;
    }
  </style>
</head>
<body>

  <h1>iframe widget test</h1>
  <h2>random token:</h2>
  <p id="token"><%= @token %></p>

  <div class="container">
    <h2>x-domain iframe loaded via GET request</h2>
    <iframe
      name="iframe-get"
      border="1px"
      src="http://iframe-widget-test-1:9393/iframe-xdomain?token=<%= @token %>"
      data-next="http://iframe-widget-test-1:9393/iframe-xdomain2"
    ></iframe>
  </div>

  <div class="container">
    <h2>x-domain iframe loaded via POST request</h2>
    <iframe
      name="iframe-post"
      border="1px"
      data-next="http://iframe-widget-test-2:9393/iframe-xdomain2"
    ></iframe>
  </div>

  <div class="container">
    <h2>x-domain dynamically created iframe loaded via GET request</h2>
    <div id="dyn-get"></div>
  </div>

  <div class="container">
    <h2>x-domain dynamically created iframe loaded via POST request</h2>
    <div id="dyn-post"></div>
  </div>

  <form
    id="form"
    target="iframe-post"
    action="http://iframe-widget-test-2:9393/iframe-xdomain"
    method="POST"
  >
    <input type="hidden" value="<%= @token %>" name="token">
  </form>
</body>
</html>
