<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>iFrame Widget Test: iFrame</title>
  <script src="/jquery.min.js"></script>
</head>
<body>
  <p>Token: <%= @token %></p>
  <p>
    Cookie:
    <script>
      document.write(document.cookie);
    </script>
  </p>
</body>
</html>
