<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>xdomain iframe</title>
  <script src="/jquery.js"></script>
  <script src="/iframe2.js"></script>
  <style>
    body {
      font-size: 0.75em;
    }
  </style>
</head>
<body>
  <h1>X-DOMAIN</h1>
  <h2>Token Param</h2>
  <p id="token"><%= @token %></p>

  <h2>LOCALSTORAGE</h2>
  <p id="local-storage"></p>

  <h2>JS COOKIE</h2>
  <p id="js-cookie"></p>
</body>
</html>
