<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>iFrame Widget Test: iFrame</title>
  <script src="/jquery.min.js"></script>
  <script>
    window.opener.doAjaxAgain();
    window.close();
  </script>
</head>
<body>
  <p>Popup</p>
</body>
</html>
